<legend ng-click="SetSection(1)">Section 2: Sales Transaction</legend>
    <fieldset ng-show="Section2">

    
    <form class="form-horizontal">
      <div class="form-group">
        
      <div class="form-group">
        <label for="Request" class="col-sm-2 control-label">
            City</label>

        <div class="col-sm-6">
          <input placeholder="City" ng-model="sectionB.Request" class="form-control">
        </input>
          
        </div>
      </div>


      <div class="form-group">
        <label for="Type" class="col-sm-2 control-label">
            State</label>

        <div class="col-sm-6">
            <select class="form-control">
                <option>Flowers
                <option>Clones
                <option>Baked Goods</option>
                <option>Other</option>
              </select>
          
        </div>
        City</label>

        <div class="col-sm-6">
          <input placeholder="Add" ng-model="sectionB.Add" class="form-control">
        </input>
          
        </div>
      </div>
      </div>
      
      
      
      
    </fieldset>